<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop   http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="user" class="com.spring.aop.configFile.User">
    </bean>
    <bean id = "userProxy" class="com.spring.aop.configFile.UserProxy"/>

    <aop:config>
        <!--切入点-->
        <aop:pointcut id="userProxy" expression="execution(* com.spring.aop.configFile.User.add())"/>
        <!--配置切面-->
        <aop:aspect ref="userProxy">
            <aop:before method="before" pointcut-ref="userProxy"/>
        </aop:aspect>
    </aop:config>
</beans>